.notfound-container {
  background-image: linear-gradient(to right, #f2e207, #f1ea21, #e2f24f, #f2f251, rgb(239, 233, 146), #f2f251, #e2f24f, #f1ea21, #f2e207);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-content {
  text-align: center;
  max-width: 500px;
  }

.notfound-title {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #27391C;
}

.notfound-subtitle {
  font-size: 1.5rem;
  margin-left: -5%;
}

.notfound-text {
  font-size: 1rem;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #27391C;
  margin-left: -4%;
}

.notfound-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.notfound-button:hover {
  background-color: #e6b800;
}

.error {
  width: 700px;
  height: 350px;
  margin-left: -20%;
}

/* botones inicio,home, anterior */
.botones-error {
  display: flex;
  /* Hace que los elementos se muestren en línea */
  justify-content: space-between;
  /* Distribuye los elementos a lo largo del contenedor */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 15px;
  margin-left: 45%;
  margin-top: -5%;
}


.botones-error svg {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

