.card {
  padding: 2em;
}

.loading {
  display: flex;
  justify-content: center;
  margin-left: 41%;
}

.read-the-docs {
  color: #888;
}

.agregar {
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  background-color: rgb(129, 224, 137);
  font-size: 1.2vw;
  margin-bottom: 5px;
  border: #496538 solid;
}

.agregar:hover:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
  /* Hace que parezca desactivado */
}

.agregar2:hover,
.agregar:hover {
  border: double white;
  background-color: #000;
  color: #fff;
}

.agregar2 {
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border: #496538 solid;
  font-family: 'Saphira DEMO', sans-serif;
  font-size: 1.2vw;
  padding: 10px;
  width: 110px;
  text-align: center;
  border-radius: 10%;
}



.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}

.product {
  /* 
  flex: 1 1 calc(33% - 10px);  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 224, 137);
  padding: 10px;
  margin: 10px;
}



.fondoProducto {
  width: 100%;
  background-color: rgb(129, 224, 137);
  position: absolute;
}



.imagenTrago {
  position: relative;
  width: 200px;
  height: 300px;
  object-fit: cover;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
}



.product-name {
  font-size: 1.7vw;
  font-weight: 600;
  margin-top: 12px;
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
}

.product-price {
  font-size: 1.3vw;
  margin-bottom: 12px;
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  margin-left: 2%;
}

.stock {
  font-size: 1.3vw;
  margin-bottom: 12px;
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  margin-left: 2%;
}

.add-button {
  padding: 8px 16px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}



.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  /* ajusta según prefieras */
  max-width: 1400px;
  margin: 3% 0% 3% 10%;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Videos Galeria */

.videos {
  max-width: 1000px;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-left: 12.5%;
}

.videos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -10%;
}

.videos-item iframe {
  /*  width: 100%;
  height: 215px; */
  border: 2px solid;
}

.videos-item-2 {
  margin-bottom: 20px;
  margin-top: 40px;
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  font-size: 1.5rem;
}


.videos-item a {
  text-decoration: none;
  color: #000;
}





.fa-cart-shopping {
  color: #27391C;
}

.fa-cart-shopping:hover {
  border: #27391C solid;
  padding: 10px;
  border-radius: 50%;
}

.btnCart {
  background-color: transparent;
  border: none;
}


.logo {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin-top: -13.5%;
  margin-left: 7%;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(129, 224, 137);
  border: #27391C solid;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  height: 40px;
  font-size: 1.3vw;
}

.dropdown-item:hover {
  color: #27391C;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  padding: 6px;
}

.dropdown-content a {
  text-decoration: none;
  color: white;
}

.dropdown-content a:hover {
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border-radius: 10px;
  padding: 5px;
}

.link.active {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.link {
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
}

p {
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  text-align: center;
  letter-spacing: .2vw;
  line-height: 3.5vw;
}


.Toastify {
  background-color: transparent !important;
  color: #000;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.Toastify__toast--success,
.Toastify__toast--info,
.Toastify__toast--error {
  background-color: rgb(129, 224, 137) !important;
  color: #27391C !important;
  border: none !important;
}

.Toastify__progress-bar {
  background-color: transparent !important;
  height: 0px !important;
  /* Para que no ocupe espacio */
  border: none !important;
}

.light-mode {
  background-color: #fff;
  color: #27391C;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #000000;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode .dos,
.dark-mode h3,
.dark-mode label,
.dark-mode span {
  color: #fff !important;
  /* color para modo oscuro */
}


.modo {
  background-color: transparent;
  border: none;
}

.mensaje:hover::after {
  content: "Modo Oscuro";
  position: absolute;
  background-color: #27391C;
  border: 1px solid #ddd;
  font-size: small;
  z-index: 1;
  color: white;
  font-family: 'Saphira DEMO', sans-serif;
  margin-right: 15%;
  border-radius: 3%;
  letter-spacing: 2px;
  padding: 2px;
}

/* Para pantallas muy pequeñas, menores a 480px */
@media (max-width: 480px) {
  

}



/* Media query para pantallas hasta 768px */
@media (max-width: 768px) {

 
}




/* Media query para pantallas hasta 1200px */
@media (max-width: 1200px) {
 

}