.container13 {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
}

.navButton13 {
    background-color: #000;
    color: #fff;
}

.navButton13:hover {
    background-color: #fff;
    color: #000;
    border: #000 solid 2px;
}

.navItem13 {
    font-family: 'Saphira DEMO', sans-serif;
    font-size: 1.3vw;
}

.navItem13 a:hover {
    border: #fff solid;
    color: #000;
    font-family: 'Saphira DEMO', sans-serif;
    padding: 10px;
    border-radius: 15%;
}

.AdminHeader {
    font-size: 3vw;
    line-height: 1.1;
    text-align: center;
    margin-top: 3%;
    color: #27391C;
    font-family: 'Saphira DEMO', sans-serif;
    margin-left: 25%;
}


.logoadmin {
    width: 10vw;
    height: 10vw;
    margin-top: 10%;
    margin-left: 45%;
}

.nav13 {
    background-color: rgb(129, 224, 137);
    width: 1500px;
    height: 100px;
    margin: 0%;
    display: flex;
    justify-content: space-around;
}

.title13 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 27%;
    font-family: 'Saphira DEMO', sans-serif;
}


.list13 {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 1400px;
}

.list13 img {
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.listItem13 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.editButton13 {
    margin-top: 5%;
    padding: 5px 10px;
    background-color: #f6e065;
    color: #27391C;
    cursor: pointer;
    border: solid #27391C;
    text-align: center;
    font-family: 'Saphira DEMO', sans-serif;
}

.deleteButton13 {
    padding: 5px 10px;
    margin-top: 5%;
    background-color: #f32c1e;
    color: #27391C;
    border: solid #27391C;
    cursor: pointer;
    text-align: center;
    font-family: 'Saphira DEMO', sans-serif;
}

.editButton13:hover,
.deleteButton13:hover {
    background-color: #000000;
    border: gray solid;
    color: #fff;
}

.button13 {
    padding: 10px;
    font-size: 16px;
    font-family: 'Saphira DEMO', sans-serif;
    background-color: rgb(129, 224, 137);
    color: #27391C;
    border: solid #27391C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 53%;
    margin-top: 5%;
}

.button13:hover {
    background-color: #000000;
    border: #27391C solid;
    color: #fff;
}




label {
    text-align: center;
    font-family: 'Saphira DEMO', sans-serif;
    font-size: 1.5vw;
    justify-content: center;
    color: #18230F;
    margin-left: 55%;
    margin-bottom: 1%;
    margin-top: 2%;
}


.form13 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 21%;
}

.form13 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 55%;
    width: 500px;
}

.input13 {
    font-family: 'Saphira DEMO', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    width: 400px;
    margin-left: 40%;
}

/* Para pantallas muy pequeñas, menores a 480px */
@media (max-width: 480px) {
  

}



/* Media query para pantallas hasta 768px */
@media (max-width: 768px) {

 
}




/* Media query para pantallas hasta 1200px */
@media (max-width: 1200px) {
 

}