/* carrito */

.mi-vaciado-popup{
  background-color: rgb(129, 224, 137);
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  border: #27391C solid;
}

.mi-clase-popup {
  background-color: rgb(129, 224, 137);
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  border: #27391C solid;
}
.mi-clase-title {
  font-weight: bold;
  margin-left: -4%;
}



.mi-vaciado-button,
.mi-clase-cancel-btn ,
.mi-clase-confirm-btn {
  background-color: transparent;
  color: #27391C;
  border: #27391C solid;
}

.mi-vaciado-button:hover,
.mi-clase-cancel-btn:hover ,
.mi-clase-confirm-btn:hover{
  background-color: #000000;
  color: #ffffff;
  border: double;
}


.carrito {
  margin-left: 5%;
  color: #27391C;
  margin-top: 10px;
  font-size: 1.6vw;
  font-weight: 800;
}



.cart-drawer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: rgb(129, 224, 137);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  text-align: center;
  border: double #27391C;
}

.cart-drawer.open {
  transform: translateX(0%);
  display: block;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27391C;
  letter-spacing: 2px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(129, 224, 137);
  z-index: 999;
}

.cart-content {
  padding: 16px;
  color: #27391C;
  font-size: 1vw;
  letter-spacing: 2px;
}

.cart-content p {
  padding: 2.5% 0% 2.5% 4%;
  color: #27391C;
  font-size: 1.5vw;
  margin-top: 5%;
  margin-left: -3%;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.8vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: -5%;
  color: #27391C;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close-button:hover {
  color: #ffffff;
  transform: scale(1.3);
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.vaciarcarrito {
  margin-top: 10px;
  font-size: 1.2vw;
  font-weight: 700;
  color: #27391C;
  border: double #27391C;
  background-color: transparent;
  padding: 2%;
  letter-spacing: 2px;
}

.vaciarcarrito:hover {
  border: double;
  color: #ffffff;
  background-color: #000000;
}

.total h3 {
  margin-top: 20px;
  font-size: 1.3vw;
  font-weight: 600;
}

.cerrarcalcu{
  margin-left: 34%;
  cursor: pointer;
  width: 100px;
  padding: 10px;
  height: auto;
  font-size: 1.1vw;
  font-family: 'Saphira DEMO', sans-serif;
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border-radius: 50%;
  border: #27391C solid;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.button2,
.button {
  width: 100px;
  padding: 10px;
  height: auto;
  font-size: 1.1vw;
  font-family: 'Saphira DEMO', sans-serif;
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border-radius: 50%;
  border: #27391C solid;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.cerrarcalcu:hover,
.button2:hover,
.button:hover {
  transform: scale(1.1);
  background-color: #000000;
  color: #ffffff;
  border: double;
}


/* calculadora de envios */


.input2 {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 1vw;
  font-family: 'Saphira DEMO', sans-serif;
}

.label2 {
  font-size: 1.5vw;
  font-family: 'Saphira DEMO', sans-serif;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  text-align: center;
  color: #27391C ;
}

.calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 0% 0%;
  padding: 15px;
  letter-spacing: 0.5px;
  font-family: 'Saphira DEMO', sans-serif;
}



.calculadora4 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


.logo-cart {
  cursor: pointer;
  width: 60%;
  height: 150px;
  margin-left: 20%;
  border-radius: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(129, 224, 137);
  padding: 20px;
  border-radius: 2%;
  max-width: 400px;
  width: 90%;
  border: solid #27391c;
}

.modal-parrafo {
  font-size: 1.3vw; /* Ten en cuenta que 'vw' es una unidad de vista (viewport width) */
  text-align: center;
  margin-left: 3%;
}




/* Media query para pantallas hasta 1200px */
@media (max-width: 1200px) {

  .cerrarcalcu{
    font-size: 1.9vw;
  }

  .logo-cart {
    cursor: pointer;
    width: 30%;
    height: auto;
    margin-left: 38%;
    border-radius: 50%;
  }
 
  .modal-content {
    max-width: 500px; /* Un poco más grande que el base de 400px, pero aún limitado */
  }

  .modal-parrafo {
    font-size: 1.6vw; 
}
}

/* Media query para pantallas hasta 768px */
@media (max-width: 768px) {

 /* carrito */

.mi-vaciado-popup{
  background-color: rgb(129, 224, 137);
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  border: #27391C solid;
}

.mi-clase-popup {
  background-color: rgb(129, 224, 137);
  color: #27391C;
  font-family: 'Saphira DEMO', sans-serif;
  border: #27391C solid;
}
.mi-clase-title {
  font-weight: bold;
  margin-left: -4%;
}

.h1calculadora{
  margin-left: 13%;
}

.mi-vaciado-button,
.mi-clase-cancel-btn ,
.mi-clase-confirm-btn {
  background-color: transparent;
  color: #27391C;
  border: #27391C solid;
}

.mi-vaciado-button:hover,
.mi-clase-cancel-btn:hover ,
.mi-clase-confirm-btn:hover{
  background-color: #000000;
  color: #ffffff;
  border: double;
}


.carrito {
  margin-left: 30%;
  color: #27391C;
  margin-top: 10px;
  font-size: 4vw;
  font-weight: 800;
}



.cart-drawer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: rgb(129, 224, 137);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  text-align: center;
  border: double #27391C;
}

.cart-drawer.open {
  transform: translateX(0%);
  display: block;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27391C;
  letter-spacing: 2px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(129, 224, 137);
  z-index: 999;
}

.cart-content {
  padding: 16px;
  color: #27391C;
  font-size: 1vw;
  letter-spacing: 2px;
  margin-left: 18%;
}

.cart-content p {
  padding: 2.5% 0% 2.5% 4%;
  color: #27391C;
  font-size: 2.5vw;
  margin-top: 5%;
  margin-left: -3%;
}

.close-button {
  background: none;
  border: none;
  font-size: 3vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: -5%;
  color: #27391C;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close-button:hover {
  color: #ffffff;
  transform: scale(1.3);
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.cart-item button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.vaciarcarrito {
  margin-top: 10px;
  font-size: 2vw;
  font-weight: 700;
  color: #27391C;
  border: double #27391C;
  background-color: transparent;
  padding: 2%;
  letter-spacing: 2px;
}

.vaciarcarrito:hover {
  border: double;
  color: #ffffff;
  background-color: #000000;
}

.total h3 {
  margin-top: 20px;
  font-size: 3vw;
  font-weight: 600;
}


.cerrarcalcu{
  margin-left: 34%;
  cursor: pointer;
  width: 80px;
  padding: 10px;
  height: auto;
  font-size: 2.5vw;
  font-family: 'Saphira DEMO', sans-serif;
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border-radius: 50%;
  border: #27391C solid;
  cursor: pointer;
  align-items: center;
  text-align: center;
}


.button2,
.button {
  width: 100px;
  padding: 10px;
  height: auto;
  font-size: 2.5vw;
  font-family: 'Saphira DEMO', sans-serif;
  background-color: rgb(129, 224, 137);
  color: #27391C;
  border-radius: 50%;
  border: #27391C solid;
  cursor: pointer;
  align-items: center;
  text-align: center;

}

.cerrarcalcu:hover,
.button2:hover,
.button:hover {
  transform: scale(1.1);
  background-color: #000000;
  color: #ffffff;
  border: double;
}


/* calculadora de envios */


.input2 {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 1.3vw;
  font-family: 'Saphira DEMO', sans-serif;
}
 
.input2::placeholder {
  color: #27391C;
  font-weight: bold;
  font-size: 1vw;
  font-family: 'Saphira DEMO', sans-serif;
  text-align: center;
}

.label2 {
  font-size: 2.5vw;
  font-family: 'Saphira DEMO', sans-serif;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  text-align: center;
  color: #27391C ;
}

.calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 0% 10%;
  padding: 15px;
  letter-spacing: 0.5px;
  font-family: 'Saphira DEMO', sans-serif;
}



.calculadora4 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


.logo-cart {
  cursor: pointer;
  width: 50%;
  height: auto;
  margin-left: 25%;
  border-radius: 50%;
}

.modal-content {
  background: rgb(129, 224, 137);
  padding: 20px;
  border-radius: 2%;
  max-width: 400px;
  width: 80%;
  border: solid #27391c;
  margin-left: auto;
  margin-top: auto;
}

.modal-parrafo {
  font-size: 3vw; /* Ten en cuenta que 'vw' es una unidad de vista (viewport width) */
  text-align: center;
  margin-left: 3%;
}
}



/* Para pantallas muy pequeñas, menores a 480px */
@media (max-width: 480px) {
  
  /* carrito */
  
  .mi-vaciado-popup{
    background-color: rgb(129, 224, 137);
    color: #27391C;
    font-family: 'Saphira DEMO', sans-serif;
    border: #27391C solid;
  }
  
  .mi-clase-popup {
    background-color: rgb(129, 224, 137);
    color: #27391C;
    font-family: 'Saphira DEMO', sans-serif;
    border: #27391C solid;
  }
  .mi-clase-title {
    font-weight: bold;
    margin-left: -4%;
  }
  
  .h1calculadora{
    margin-left: 13%;
  }
  
  .mi-vaciado-button,
  .mi-clase-cancel-btn ,
  .mi-clase-confirm-btn {
    background-color: transparent;
    color: #27391C;
    border: #27391C solid;
  }
  
  .mi-vaciado-button:hover,
  .mi-clase-cancel-btn:hover ,
  .mi-clase-confirm-btn:hover{
    background-color: #000000;
    color: #ffffff;
    border: double;
  }
  
  
  .carrito {
    margin-left: 30%;
    color: #27391C;
    margin-top: 10px;
    font-size: 4vw;
    font-weight: 800;
  }
  
  
  
  .cart-drawer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(129, 224, 137);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
    text-align: center;
    border: double #27391C;
  }
  
  .cart-drawer.open {
    transform: translateX(0%);
    display: block;
  }
  
  .cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #27391C;
    letter-spacing: 2px;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(129, 224, 137);
    z-index: 999;
  }
  
  .cart-content {
    padding: 16px;
    color: #27391C;
    font-size: 1vw;
    letter-spacing: 2px;
    margin-left: 18%;
  }
  
  .cart-content p {
    padding: 2.5% 0% 2.5% 4%;
    color: #27391C;
    font-size: 2.5vw;
    margin-top: 5%;
    margin-left: -3%;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    margin-top: -5%;
    color: #27391C;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .close-button:hover {
    color: #ffffff;
    transform: scale(1.3);
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
  
  .cart-item button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
  }
  
  .vaciarcarrito {
    margin-top: 10px;
    font-size: 2vw;
    font-weight: 700;
    color: #27391C;
    border: double #27391C;
    background-color: transparent;
    padding: 2%;
    letter-spacing: 2px;
  }
  
  .vaciarcarrito:hover {
    border: double;
    color: #ffffff;
    background-color: #000000;
  }
  
  .total h3 {
    margin-top: 20px;
    font-size: 3vw;
    font-weight: 600;
  }
  
  
  .cerrarcalcu{
    margin-left: 34%;
    cursor: pointer;
    width: 50px;
    padding: 10px;
    height: auto;
    font-size: 2.5vw;
    font-family: 'Saphira DEMO', sans-serif;
    background-color: rgb(129, 224, 137);
    color: #27391C;
    border-radius: 50%;
    border: #27391C solid;
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
  
  
  .button2,
  .button {
    width: 100px;
    padding: 10px;
    height: auto;
    font-size: 2.5vw;
    font-family: 'Saphira DEMO', sans-serif;
    background-color: rgb(129, 224, 137);
    color: #27391C;
    border-radius: 50%;
    border: #27391C solid;
    cursor: pointer;
    align-items: center;
    text-align: center;
  
  }
  
  .cerrarcalcu:hover,
  .button2:hover,
  .button:hover {
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
    border: double;
  }
  
  
  /* calculadora de envios */
  
  
  .input2 {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
    font-family: 'Saphira DEMO', sans-serif;
  }
   
  .input2::placeholder {
    color: #27391C;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Saphira DEMO', sans-serif;
    text-align: center;
  }
  
  .label2 {
    font-size: 2.5vw;
    font-family: 'Saphira DEMO', sans-serif;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    text-align: center;
    color: #27391C ;
  }
  
  .calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 0% 10%;
    padding: 15px;
    letter-spacing: 0.5px;
    font-family: 'Saphira DEMO', sans-serif;
  }
  
  
  
  .calculadora4 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  
  .logo-cart {
    cursor: pointer;
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius: 50%;
  }
  
  .modal-content {
    background: rgb(129, 224, 137);
    padding: 20px;
    border-radius: 2%;
    max-width: 400px;
    width: 50%;
    border: solid #27391c;
    margin-left: auto;
  }
  
  .modal-parrafo {
    font-size: 3vw; /* Ten en cuenta que 'vw' es una unidad de vista (viewport width) */
    text-align: center;
    margin-left: 3%;
  }
  
  }